<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
      <a class="navbar-brand  mr-10" href="/">BLOG</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="https://www.npmjs.com/npm-avatar/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdmF0YXJVUkwiOiJodHRwczovL3MuZ3JhdmF0YXIuY29tL2F2YXRhci9jMWU3OTZiMDUzZjdhZWMzNGEyYTZlMmQxM2Q3OThkYT9zaXplPTEwMCZkZWZhdWx0PXJldHJvIn0.AOCyYab4wIDCMJaccPlHUSy4O5OO7JQ_IXpEUGKS8YM" alt="" class="user-avatar">
                nmc
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" > 
                <a class="dropdown-item" href="/courses/create">Create course</a>
                <a class="dropdown-item" href="me/stored/courses">My course</a>
                <a class="dropdown-item" href="/news">News</a>
                <a class="dropdown-item" href="#">Logout</a>
              </div>
            </li>
          </ul>
      </div>
  </div>
</nav>