<div class="mt-10">
    <form method="post">
        <div class="form-group">
            <label for="search-input">Key word</label>
            <input type="text" name = "q" class="form-control" id="search-input"  placeholder="input key word">
        </div>

        <div class="form-group">
            <label for="search-select">Select</label>
            <select type="select" name = "gender" class="form-control" id="search-select">
                <option value="">-- Chọn giới tính --</option>
                <option value="Male">Male</option>
                <option value="Female">Nữ</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div> 